@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');



.neons {
  margin-top: 10rem;
  text-align: center;
}

.neons h3 {
  font-size: 9rem;
  text-align: center;
  font-weight: bold;
  animation: glow 2s ease-in-out infinite alternate;
  font-family: 'Codystar';
}

@keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px  #938BA1, 0 0 20px  #938BA1, 0 0 30px  #938BA1, 0 0 40px  #938BA1, 0 0 50px  #938BA1, 0 0 60px  #938BA1, 0 0 70px  #938BA1, 0 0 90px  #938BA1;
  }
  
  to {
    color: gray;
    text-shadow: 0 0 20px  #938BA1, 0 0 30px  #938BA1, 0 0 40px  #938BA1, 0 0 50px  #938BA1, 0 0 60px  #938BA1, 0 0 70px  #938BA1, 0 0 80px  #938BA1, 0 1 90px  #938BA1;
  }
}
