@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
   
}

.p2 {
  
  border-right: solid 3px #2196f3;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

/* Animation */
.p2 {
  animation: animated-text 4s steps(35,end) 1s 1 normal both,
             animated-cursor 600ms steps(35,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 502px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #2196f3; }
  to{border-right-color: transparent;}
}