/* Navbar.css */

body.dark-mode {
    background-color: #000000b4;
    color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #938BA1;
    color: inherit;
    padding: 0.2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.logo {
    flex-shrink: 0; /* Prevent the logo from shrinking */
}

.menu-toggle {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #a1a9b8;
    margin-left: 10px; /* Add margin to separate the logo and menu toggle */
    display: none; /* Hide the menu toggle by default */
}

.menu-toggle svg {
    font-size: 1.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-item {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #a1a9b8;
}

.active {
    background-color: #a1a9b8;
}

.dark-mode-button {
    cursor: pointer;
    padding: 0.90rem;
    border-radius: 15px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-button:hover {
    background-color: #a1a9b8;
    color: inherit;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        margin-left: auto; /* Move the menu toggle to the right */
        margin-right: 10px;
        display: block; /* Display the menu toggle on smaller screens */
    }

    .nav-list {
        display: none;
        width: 100%;
    }

    .nav-list.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    .dark-mode-button {
        margin: 10px 0;
        font-size: 1.5rem;
    }
}
