html, body {
    height: 100%;
    margin: 0;
  }
  
.horizontal-scroll {
    width: 100%;
    height: 400px;
    position: sticky;
    background-size: cover;
    background: url('http://mckenziedave.co.uk/1st-touch/footer_fr.png');
    -webkit-animation: backgroundScroll 400s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    background-repeat: no-repeat;
    }
    
    @-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -600px 0;}
    }
            
    @keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -2000px 0;}
    }
    
    .horizontal-scroll2 {
    width: 100%;
    height: 400px;
    background: url('http://mckenziedave.co.uk/1st-touch/footer_bg.png');
    -webkit-animation: backgroundScroll2 400s linear infinite;
    animation: backgroundScroll2 30s linear infinite;
    background-repeat: no-repeat;
    }
    
    @-webkit-keyframes backgroundScroll2 {
    from {background-position: -1000px 0;}
    to {background-position: 0 0;}
    }
            
    @keyframes backgroundScroll2 {
    from {background-position: -2000px 0;}
    to {background-position: 0 0;}
    }
    